/* Default styles */
@font-face {
    font-family: 'Millik';
    src: url('/assets/fonts/Millik.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Moderat';
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.orange-heading{
    color: #fb9129;
}
.green-text{
    color:#35a162;
}
.purple-text{
    color:#6672c7;
}
.intro-head{
    font-family: 'Millik';
    letter-spacing: -2px;
}

.hamburger {
    cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(2px) rotate(40deg);
}

.hamburger.active .bar:nth-child(2) {
    transform: translateY(-7px) rotate(-40deg);
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #323232;
    display: block;
    margin: 7px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}


/* Header & Navbar Styles */
.hamburger{
    display:none;
}
header{
    padding:2rem 0;
}
.nav-logo{
    align-items: center;
    flex: 0 0 auto;
    width:18%;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin:0 auto;
    flex:0 auto;
}
.nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}
.nav-item{
    position: relative;
    display: inline-block;
    margin: 0;
    /* background-color: #00abab; */
    padding: 10px ;
    transition: 1s linear;
    
}
.nav-item:not(:last-child){
    margin-right: 2.5rem
}

.nav-dropdown {
    display: none;
    position: absolute;
    top:2.5rem;
    left:-100px;
    background-color: #fff;
    width: 350px;
    border:none;
    box-shadow:0 10px 40px rgba(0, 0, 0, .2);
    z-index: 1;

    
}
.nav-item:hover .nav-dropdown {
    display: block;
    padding:2rem;
    border-radius: 10px;
}
.nav-dropdown .dd-text{
    display: block;
    padding:0;
}
.dropdown-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem
}
.nav-label,.nav-link{
    color: #262c55;
    font-weight: 600;
    text-transform: none;
    font-size: 15px;
    cursor: pointer;
}
.dropdown-info{
    display: flex;
    flex-direction: column;
    gap:5px;

}
.dropdown-info .dd-title,
.nav-info .dd-title{
    font-size: 15px;
    font-weight: 600;
}
.dropdown-link:hover .dd-title,
.nav-link:hover{
    color:#00abab;
    transition: 0.3s ease;
}
.dropdown-item:not(:last-child) {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.dd-text{
    display: none;
    font-size: 14px;
}
.sign{
    border: none;
    border-radius: 10px;
    background-color: #fb4e20;
    
}

.nav-btn {
    display: inline-block;
    flex:1;
    /* width:100%; */
    /* background-color:#eee; */
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 15px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}
#menu-sign{
    display: none;
}
.nav-btn:hover{
    background-color: #0a0e27;
    color:#fff
}

/* HERO STYLES  */
.hero-wrapper{
    padding:5.5rem 6rem;
}
.hero-info{
    width:750px;

}
.hero-heading{
    font-size: 100px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2rem;
}
.hero-subheading{
    color:#0a0e27;
    font-size: 22px;
    font-weight: 300;
    max-width: 600px;
    line-height: 1.5;
    margin-bottom: 4rem;

}
.hero-ctas{
    display: flex;
    align-items: center;
}
.cta #cta-1{
    background-color: #0a0e27;
    padding: 22px 35px;
    color:white;
    font-size:16px;
    font-weight: 600;
    border-radius:10px;
}
.cta-btn-2 #cta-2{
    padding: 22px 35px;
    color: #0a0e27;
    font-size: 16px;
    font-weight: 500;
    background-color: #eee;
    border-radius: 10px;
}


.cta-btn:not(:last-child){
    margin-right: 20px;
}

/* Customer Section Style */

.customer-section{
    margin-top: -100px;
    padding-top: 7.5rem;
    padding-left: 0;
    padding-right: 0;
}
.customer-container{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}

.first-customer{
    position: relative;
    max-width: 60%;
}
.second-customer{
    position: relative;
    top:-200px;
    right: 0;
    max-width: 500px;
    height: 600px;
}
.customer-img{
    display: block; 
    overflow: hidden;
    position: relative;
}
.customer-img #footcity{
    height: 100%;
    object-position: bottom 0 right 420px;
}
.customer-img #famasi{
    width: 100%;
    height: 650px;
    object-fit: cover;
}
.biz-name{
    position: absolute;
    bottom: 30px;
    color:#0a0e27;
    z-index: 100;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
.footcity{
    right: 60px;
}
.famasi{
    left:20px
}
.customer-text{
    width:380px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    margin-top: 70px;
}

/* Partners & Businesses */
.partners{
    padding-top:8rem;
    padding-bottom: 8rem;
    padding-left: 20px;
    padding-right: 20px;
}
.partners-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.partner-intro{
    font-size: 22px;
    font-weight: 500;
    line-height: 3;
    margin-bottom: 2rem;
}
.partners-list{
    width: 95%;
}
.logo-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#wise img{
    height: 25px;
}
/* PAYMENTS SECTION STYLE */
.payments{
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 20px;
    padding-right: 20px;
}
.payment-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.payment-intro{
    max-width: 650px;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 40px;
}
.features{
    /* background-color: #00abab ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    padding:1rem;
    margin: 0 auto;
}
.features-media{
    position: relative;
    max-width: 700px;
}
.features-media img{
    filter:drop-shadow(0 4px 20px rgba(0, 0, 0, .2));
    height: 600px;
}
.features-section{
    width: 30%;
}
.feat-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 2.9;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.feat-desc{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 2rem;
    padding-left: 1rem;
    line-height: 1.6;
}
.feat-btn{
    display: block;
    background-color: #0a0e27;
    width:fit-content;
    padding: 1rem 1.3rem;
    border-radius: 10px;
    font-size: 14px;
    color:#fff;
    margin-left: 1rem;
}
.learn-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    color: #fb4e20;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 3rem;
}
.learn-link a{
    color: #fb4e20;
}
.learn-link:hover .arrow{
    margin-left: 5px;
    transition:all 0.4s ease;
}

/* Commerce Light Section */
.commerce-light-section{
    background-color: #f8fafd;
    color:#1d1d1d;
    padding: 10rem 2rem;
}
.commerce-container-1{
    max-width:90%;
    margin:0 auto 10rem auto;
    padding: 3rem;
}
.commerce-container-1 h1{
    text-align: start;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 100px;
}
.items-grid{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.items-grid-2{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.items-grid:nth-child(2){
    background-color: #fb4e20;
}
.feat{
    width:35%;
    padding-top: 8rem;
}
.feat-2{
    padding-top: 10rem;
    padding-left: 6rem;
    width:40%;
}
.feat-title-2{
    margin-bottom: 1rem;
}
.feat-text{
    padding-left: 0;
}
.learn-link-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    color: #fb4e20;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 3rem;
}
.learn-link-2 a{
    color: #fb4e20;
}
.feat-img{
    position: relative;
    top: 0;
    right: 0;
    width: 50%;
    height: 600px;
    margin-left: 8rem;
}
.feat-img-2{
    position: relative;
    top:-40px;
    width: 60%;
    margin-left: 0;

}
.customer-img #yanga {
    width: 100%;
    height: 650px;
    object-fit:cover;
}
.customer-img #creator {
    width: 100%;
    height: 650px;
    object-fit:cover;
}
.figure_caption{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
/* Big Text below commerce section */
.big-text-container{
    width:90%;
    margin: 0 auto;
    padding: 0 2rem;
}
.big-text{
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 4rem;
}
#b-text-btn{
    display: block;
    background-color: #0a0e27;
    width: fit-content;
    padding: 28px 32px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
}
/* Commerce Dark Section */
.commerce-dark-section{
    background-color: #1d1d1d;
    padding-top: 9rem;
}
.d-info-container{
    /* background-color: aqua; */
    width:70%;
    margin:0 auto;
    text-align: center;
}
.d-head{
    color:#fff;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 2.5rem;
}
.d-text{
    font-size:22px;
    color:#fff;
    width:65%;
    margin: 0 auto 50px auto;
}
#d-btn{
    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: fit-content;
    padding: 28px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1d;
}
/* ----------------- */
/* ----------------- */
/* MOBILE DEVICES & SMALLER SCREENS */
/* ----------------- */
/* ----------------- */

@media screen and (max-width:500px){
    .hamburger{
        display: block;
    }
    header{
    width: 100%;
    position: relative;
    }
    .navbar{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        position: relative;
        /* background-color: #00abab; */
    }
    
    .nav-logo{
        width:95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo{
        display: block;
        width:11rem;
    }
    
    .nav-menu{
        position: absolute;
        width: 100%;
        top:20px;
        left: 0;
        right:0;
        background-color: #fff;
        z-index: 100;
        display: none;
        align-items: stretch;
        border-bottom: 1px solid red;
        flex-direction: column;
        z-index: 100;
        transition: 0.5s ease;
    }   
    .nav-menu.active{
        display: block;
        position: relative;
    }
    .nav-item{
        padding: 1rem 1.5rem 0;
        margin-bottom: 2.3rem;
    }
    .nav-item:nth-child(1),
    .nav-item:nth-child(2){
        border-bottom: .5px dashed rgba(0, 0, 0, .2);
    }
   
    .nav-label{
        text-transform: uppercase;
        font-size: 12px;
        color:#686868;
        margin-bottom: 1.4rem;
        line-height: 1.4rem;
        padding: 0.2rem; 
    }
    .dropdown-menu{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .nav-dropdown{
        width: 100%;
        position:relative;
        top:0;
        left:0;
        display: flex;
        flex-direction: column;
        padding-bottom: 1.8rem;
        box-shadow: none;
    }
    .nav-item:hover .nav-dropdown{
        padding:0;
        border-radius: 0;
    }
    .nav-item:not(:last-child) {
        margin: 0;
    }


    .dropdown-item .dropdown-link{
        display: flex;
        align-items: flex-start;
        gap:1rem;
        color:#262c55;
    }
    .nav-link{
        color:#262c55;
    }
    .dropdown-info,
    .nav-info{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .dd-title{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 0.15rem;
    }
    .dd-text{
        display: block;
        font-size: 14px;
        font-weight: 300;
    }
    .sign{
        position: relative;
        display: block;
        margin: 2.5rem auto;
        max-width: fit-content;
        flex-direction: column;
        text-align: center;
        text-align: center;
    }
    #nav-sign{
        display: none;
    }
    .nav-btn{
        width: 100%;
        background-color:rgba(10, 14, 39, .9);
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 15px 110px;
        border-radius: 10px;
    }
    
    

    /* Hero Styles */
    .hero-wrapper{
        padding:2rem 1rem;
    }
    .hero-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
    }
    .hero-heading{
        font-size: 55px;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    .orange-heading{
        color:#fb9129;
    }
    .hero-subheading{
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        color:#000;
    }

    .hero-ctas{
        position: relative;
        width:100%;
        display:flex;
        align-items: center;
    }
    .cta #cta-1 {
        background-color: #0a0e27;
        padding: 15px 10px;
        color: white;
        font-size: 12px;
        font-weight: 600;
        border-radius: 10px;
    }
    .cta-btn-2 #cta-2 {
        padding: 15px 10px;
        color: #0a0e27;
        font-size: 12px;
        font-weight: 500;
        background-color: #eee;
        border-radius: 10px;
    }
    

    /* Customer-Section Styles  for Mobile*/
    .customer-section{
        width:100%;
        margin: 2.5rem auto;
        padding: 0;
    }
    .customer-container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:2rem
    }
    figure{
        position: relative;
    }
    .first-customer,
    .second-customer {
        margin: 0 auto;
        position: relative;
        max-width: 100%;
    }
    .second-customer{
        top:0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap:2rem;
        color:#1d1d1d;
        line-height: 1.5;
        height: 100%;
    }
    .customer-text {
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        margin: 0;
    }
    .customer-img #footcity {
        width: 100%;
        object-position: center
    }
    .customer-img #famasi{
        height: 100%;
    }
    .biz-name{
        position: absolute;
        bottom: 2rem;
        font-size: 24px;
        font-weight: 900;
        color: #fff;
    }
    .footcity{
        right: 30px;
    }
    #famasi{
        left:1.5rem
    }

    /* Partners Style */
    .partners{
        padding: 0;
    }
    .partner-intro{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 2rem;
        line-height: 1.2;
    }
    .logo-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .logo-list li img{
        margin:1.5rem 0.65rem;
        height:1.4rem;
    }
    #wise img{
        height: 1rem;
    }

    /* Commerce-section Style */
    .payments{
        padding: 7rem 0 0rem 0;
        color:#1d1d1d;
    }
    .payment-container{
        display: flex;
        flex-direction:column ;
        padding: 0 10px ;
    }
    .payment-intro{
        font-size:36px;
        font-weight: 500;
    }
    .features{
        flex-direction: column;
        padding:0;
    }
    .features-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .feat-desc{
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 30px;
        padding: 0;
    }
    .feat-title{
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        padding: 0;
    }
    .feat-btn{
        background-color:#0a0e27;
        width:fit-content;
        color:#fff;
        font-size: 14px;
        font-weight: 600;
        padding:15px 25px;
        border-radius: 10px;
        margin-left: 0;
    }
    .features-media{
        margin:3rem 0 ;
    }
    .features-media img{
        height: 550px;
        filter: drop-shadow(0 4px 20px rgba(0, 0, 0, .2))
    }
    
    .learn-link{
        display: flex;
        align-items: center;
        color:#fb4e20;
        padding-left: 0;
        margin-bottom: 1rem;
    }
    .learn-more{
        color:#fb4e20;
        font-weight: 600;
    }
    /* Commerce  */
    .commerce-light-section{
        background-color: #f8fafd;
        color:#1d1d1d;
        padding:0;
    }
    .commerce-container-1{
        max-width:90%;
        margin:0 auto;
        padding: 5rem 0 0 0;
        display: flex;
        flex-direction: column;

    }
    .commerce-container-1 h1{
        width:90%;
        font-size:36px;
        font-weight: 500;
        padding-left: 0.5rem;
        margin-bottom: 2.5rem;
    }
    .items-grid{
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;
    }
    .feat{
        width: 95%;
        padding: 0;
        margin-bottom: 5rem;
    }
    .feat-title{
        font-size: 20px;
    }
    .feat-img{
        width: 100%;
        margin: 0;
        height: 100%;
    }
    .customer-img #yanga {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .items-grid-2{
        flex-direction: column-reverse;
    }
    .feat-2{
        padding: 4rem 0 3rem 0.5rem;
    }
    .feat-title-2{
        font-size: 20px;
    }
    .customer-img #creator {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .figure_caption {
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
    }

    /* Big Text below commerce section */
    .big-text-container {
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
    }

    .big-text {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 2.5rem;
    }

    #b-text-btn {
        display: block;
        background-color: #0a0e27;
        width: fit-content;
        padding: 22px 28px;
        border-radius: 10px;
        font-size: 13px;
        color: #fff;
    }

    /* Commerce Dark Section */
    .commerce-dark-section {
        background-color: #1d1d1d;
        padding-top: 5rem;
    }

    .d-info-container {
        /* background-color: aqua; */
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .d-head {
        color: #fff;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 2.5rem;
    }

    .d-text {
        font-size: 18px;
        color: #fff;
        width:100%;
        line-height:1.5;
        margin: 0 auto 50px auto;
    }

    #d-btn {
        display: block;
        margin: 0 auto;
        background-color: #fff;
        width: fit-content;
        padding: 22px 28px;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 500;
        color: #1d1d1d;
    }

}